<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Edit">Create Post</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Authorize" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Authorize" asp-action="Login">Sign In</a>
        }
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
