@model IEnumerable<Post>

@{ 

}


<div class="main-img">
    <span class="title">My First Blog Site</span>
</div>

<div class="container">

    @foreach (var post in Model)
    {

        
    <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
        <span class="title">
            @post.Title
        </span>
    </a>

        <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">
            Edit
        </a>

        <a asp-controller="Home" asp-action="Delete" asp-route-id="@post.Id">
            Delete
        </a>

    }
</div>
